html, body {
  height: 100%;
  margin: 0;
  color: #ddd;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

#toolbar {
  border-bottom: 2px solid #333;
  background-color: #3e3e3e;
  padding: 10px;
  flex: 0 1 auto;
}

input {
  background-color: #bbb;
  border: none;
  border-radius: 4px;
  margin: 10px 20px 10px 0;
  padding: 4px;
  width: 100px;
}

input[type=button]:active {
  background-color: #999;
}

input[type=number] {
  width: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

canvas {
  background-color: white;
}